version: '3.8'

services:
  app:
    build: .
    container_name: test_task_app
    ports:
      - "8080:8080"
    environment:
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=test_jun
      - DB_SSLMODE=disable
      - LOG_LEVEL=debug
      - HTTP_ADDR=0.0.0.0:8080
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    container_name: test_task_db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=test_jun

    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d test_jun"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: